# Gradle
.gradle/
build/
**/build/
**/out/
**/bin/
**/gen/

# Android Studio / IntelliJ
*.iml
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/

# Local config
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# Package files
*.apk
*.ap_
*.aab

# Java/Kotlin
*.class
*.dex

# OS files
.DS_Store

./CLAUDE.md
./.claude/*
/yandex_maps_mod_workspace/
/HUDSPEED_decompile/
/MDPI_decompile/
/mhud_decompile/
/PLUS_MONJ_decompile/
/yandex_maps_mod_workspace/
/YN_decompile/
/extracted/
/MODIFICATIONS.md
/my-release-key.jks
/CLAUDE.md
/apply_changes.sh
/.claude/
/app/release/
/.kotlin/
